@model PurchaseProductViewModels
<!--IEnumerable<RCL_Inventory.Models.ViewModels.PurchaseProductViewModels>-->

@{if (Model.TransactionTypeId == 1)
    {
        ViewData["Title"] = "Create a New Purchase";
        <h1 class="font-weight-bolder">Create a New Purchase</h1>
    }
    else if (Model.TransactionTypeId == 2)
    {
        ViewData["Title"] = "Create a New Sale";
<h1 class="font-weight-bolder">Create a New Sale</h1>
    }
    else
    {
        ViewData["Title"] = "Create a New Loss";
<h1 class="font-weight-bolder">Create a New Loss</h1>
    }

}



<form asp-action="CreatePurchase" method="post">


    <!-- Invisivel atributes -->
    <div hidden class="form-group">
        <input id="ProductId" asp-for="Transaction.ProductId" class="form-control" />
    </div>
    <div hidden class="form-group">
        <input id="SupplierId" asp-for="Transaction.SupplierId" class="form-control" />
    </div>
    <!--Product Table-->
    <div class="card">
        <div class="card-header bg-dark text-white d-flex justify-content-center">Products List</div>
        <div class="card-body">
            <table id="productTable" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Category.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products.Brand)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductsList)
                    {
                        <tr onclick="passProductId('@item.ProductId')">
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!--Product Table-->
    <div class="card mt-3">
        <div class="card-header bg-dark text-white d-flex justify-content-center">Suppliers List</div>
        <div class="card-body">
            <table id="supplierTable" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Supplier.SupplierId)

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Supplier.Name)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SuppliersList)
                    {
                        <tr onclick="passSupplierId('@item.SupplierId')">
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="card mt-3 ">
        <div class="card-header bg-dark text-white d-flex justify-content-center"> Transaction Detail</div>
        <div class="card-body row">
            <div class="form-group col-md">
                <div class="form-group">
                    <label asp-for="Transaction.Date" class="control-label d-flex justify-content-center"></label>
                    <input asp-for="Transaction.Date" class="form-control" />
                    <span asp-validation-for="Transaction.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md">
                <label asp-for="@Model.Transaction.Quantity" class="control-label d-flex justify-content-center"></label>
                <input asp-for="@Model.Transaction.Quantity" class="form-control" />
            </div>
        </div>
    </div>

    @{if (Model.TransactionTypeId == 1)
        {
            <div class="mt-2 row d-flex justify-content-center">
                <div class="mr-2">
                    <input type="submit" class="btn btn-dark  " value="Create a New Purchase" />
                </div>
                <div class="ml-2 btn btn-light">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        }
        else if (Model.TransactionTypeId == 2)
        {
            <div class="mt-2 row d-flex justify-content-center">
                <div class="mr-2">
                    <input type="submit" class="btn btn-dark  " value="Create a New Sale" />
                </div>
                <div class="ml-2 btn btn-light">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        }
        else
        {
            <div class="mt-2 row d-flex justify-content-center">
                <div class="mr-2">
                    <input type="submit" class="btn btn-dark  " value="Create a New Loss" />
                </div>
                <div class="ml-2 btn btn-light">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        }

    }



</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            var productTable = $('#productTable').DataTable();

            $('#productTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    productTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });

        function passProductId(ProductId) {
            document.getElementById('ProductId').value = ProductId;
            console.log(ProductId);
        }



        $(document).ready(function () {
            var supplierTable = $('#supplierTable').DataTable();

            $('#supplierTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    supplierTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });


        function passSupplierId(SupplierId) {
            document.getElementById('SupplierId').value = SupplierId;
            console.log(SupplierId);
        }


    </script>
}
