@model IEnumerable<RCL_Inventory.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Transaction</h1>

<p>
    <a asp-action="CreatePurchase" class="btn btn-light">Create a New Purchase </a>
</p>


<div class="card mt-3">
    <div class="card-header font-weight-bolder d-flex justify-content-center bg-dark text-white"> Transaction Table</div>
    <div class="card-body">
        <table id="myTable" class="table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Category.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionType.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Supplier.Name)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Supplier.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TransactionId" class="text-info"><img src="~/images/edit.png" alt="..." class="img-responsive img-rounded" style="width:30px"></a> |
                            <a asp-action="Details" asp-route-id="@item.TransactionId" class="text-success"><img src="~/images/details.png" alt="..." class="img-responsive img-rounded" style="width: 30px"></a> |
                            <a asp-action="Delete" asp-route-id="@item.TransactionId" class="text-danger"><img src="~/images/delete.png" alt="..." class="img-responsive img-rounded" style="width: 30px"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
